.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #4acaa8;
    color: #fff;
    max-height: 50px;
    z-index: 1;
  }

.circle_present {
    padding: 13px 20px;
    border-radius: 50%;
    border: 60px;
    border-color: black;
    background-color: #4acaa8;
    
    max-height: 50px;
    z-index: 1;
}
  
 